<?xml version="1.0" encoding="utf-8"?>
<data-config>
  <BatteryUsages>
    <FreeBatteryUsing>0.05</FreeBatteryUsing>
    <LightBatteryUsing>0.07</LightBatteryUsing>
    <MediumBatteryUsing>0.1</MediumBatteryUsing>
    <HeavyBatteryUsing>0.2</HeavyBatteryUsing>
    <ChargingRate>50</ChargingRate>
  </BatteryUsages>
  <RowNumbers>
    <NewParcelId>14</NewParcelId>
  </RowNumbers>
</data-config>